@import './variables.scss';

.custom_table {

    /* th, td { padding: 0.8em 1.2em; }

    tr {
        &.hoverable {
            background-color: inherit;
            transition: background-color 0.3s linear;
        
            &:hover {
                background-color: darken($white, 2);
                transition: background-color 0.3s linear;
            }
        }

        &.anonymous {
            color: $medium-grey;
        }
        
        &.current {
            background-color: rgba(231, 245, 218, 0.86);
        }
    } */
}