@import '/styles/sass/main.scss';
@import './reset.css';

body {
    letter-spacing: 0.01em;
    
    font-family: $ff-primary;
    font-size: $fs-regular;
    font-weight: $fw-regular;

    color: $clr-text;
    background-color: $clr-bg;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

section {
    width: 60vw;
    margin-left: calc(20vw + $margin-xxlarge);
    margin-top: $navbar-height;

    // this might cause problems
    position: absolute;

    @include media-query(large) {
        width: 70vw;
        margin-left: calc(22vw + $margin-xxlarge);
    }

    @include media-query(medium) {
        width: 80vw;
        margin-left: 10vw;
    }

    @include media-query(small) {
        width: 90vw;
        margin-left: 2.5vw;
    }
}

h1 {
    font-family: $ff-ctis;
}

h2, h3 {
    font-family: $ff-heading;
}

table {
    border-radius: $border-radius-small;
    overflow: hidden;
    //box-shadow: 0px 0px 0px 1px $ctis-blue-300;
    width: 100%;

    th {
        background-color: $ctis-blue-200;
        color: $ctis-blue-500;
        @include secondary-text()
    }

    th, td { padding: $padding-medium $padding-large; }

    tbody tr {
        &:nth-of-type(odd) {
            background-color: $true-white;
        }
        &:nth-of-type(even) {
            background-color: $ctis-blue-50;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid $ctis-blue-200;
        }
    }

    td a {
        text-decoration: underline;
        color: inherit;
        font-weight: $fw-medium;

        @include attention() {
            color: $ctis-blue-400;
        }
    }
}

[class*='common_user_avatar'] {
    display: block;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* DEBUGGING PURPOSES */

.debug {
    &-red {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.05);
    }

    &-blue {
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.05);
    }
}



/* body {
    color: $black;
    background-color: $white;
    font-size: $fs-regular;
    font-family: $ff-regular;
    font-weight: $fw-regular;
    line-height: 120%;
    letter-spacing: 0.01em;
}

main {
    position: relative;
    height: 200vh;
}

section {
    
}

.user_avatar_48 {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */