.button{
    background-color: #f5a425;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
}

.input_label{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #1F272B;
    font-weight: bold;
    padding-left: 10px ;
    transform: translateY(-2em);
    transform-origin: 0 0;
    transition: all .3s;
}

.input_container{
    margin: 0px;
}

.input_field{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 4px 4px 0px 0px;
    background-color: lightgrey;
    border-style: none none solid none;
    transition: all .3s;
}

.input_field::placeholder{
    color: transparent;
}

.input_field:focus{
    box-shadow: none;
    outline: none;
    border-color: #f5a425;
}

.input_field:focus + .input_label, 
.input_field:not(:placeholder-shown) + .input_label{
    transform: translateY(-4em) scale(1.1);
    letter-spacing: 3px;
}

.form_container{
    width: 100%;
    transition: all .3s;
}

.forgot_password{
    font-size: 13px;
    transition: all .3s;
    cursor: pointer;
}
.forgot_password:hover{
    color:#f5a425
}

.forgot_password_container{
    text-align: right;
}