.submitButton{
    /* width: 10%; */
    padding: 5px 15px;
    height: 38px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;

    background: #FFF9E8;
    opacity: 0.8;

    border: 1px solid #FF8412;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FF8412;
}
.submitButton:hover:not(:disabled){
    border: 2px solid rgb(245, 164, 37);
}
.submitButton:disabled{
    background-color: #fbfbfb;
}

.closeButton{
    padding: 5px 15px;
    height: 38px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;

    background: #FFF9E8;
    opacity: 0.8;

    border: 1px solid #FF8412;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    background-color: rgba(255, 37, 37, 0.26);
    color: rgb(197, 66, 54);
    transition: all 0.1s ease-in-out;
}

.closeButton:hover:not(:disabled){
    border: 2px solid rgba(255, 37, 37, 0.26);
}

.guideButton{
    width: 8%;
    background-color: rgba(11, 111, 222, 0.11);
    border: none;
    color: rgb(6, 124, 187);
    padding: 5px;
    height: 38px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    margin-bottom: 5px;
}

.guideButton:hover:not(:disabled){
    padding: 3px;
    border: 2px solid rgba(11, 111, 222, 0.11);
}

.addButton{
    width: 8%;
    background-color: rgba(91, 245, 35, 0.18);
    border: none;
    color: rgb(58, 164, 30);
    padding: 5px;
    height: 38px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
    margin-bottom: 5px;
}

.addButton:hover:not(:disabled){
    padding: 3px;
    border: 2px solid rgba(91, 245, 35, 0.18);
}

.selectContainer{ 
    position: relative; 
    margin: 20px 0;
}
.inputLabel{
    position: absolute;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    text-transform: capitalize;
    color: #888;
    vertical-align: top;
    font-size: 13px;
    height: 1px;
    line-height: 0px;
    width: fit-content;
    letter-spacing: 1px;
    z-index: 1;
    border-radius: 5px 5px 0 0;
}

.tableContainer{
    margin-top: 20px;
}