@import 'variables.scss';

.main_div {
    padding: 4em 3em;
}

.sector_info {
    margin-bottom: 3em;
    display: flex;
    align-items: center;

    .sector_name {
        margin: 0;
    }

    .sector_icon {
        width: 2.5em;
        height: 2.5em;
        background-color: $light-grey;
        border-radius: 50%;
        display: grid;
        place-content: center;
        color: $dark-grey;
        margin-right: 1em;
    }
}
