.pageContainer{
    height: 100%;
    display: flex;
}
.sidebar{
    /* background-color: aqua; */
    width: 200px;
    height: 100%;
    border-right: 1px solid #E0E0E0;
    padding-top: 10px;
}

.sidebar div {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
    padding: 10px 5px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.sidebar div:hover{
    color: white;
    background-color: rgb(245, 164, 37);
}

.formBody{
    padding: 10px;
    flex-grow: 1;
}
.active{
    color: white;
    background-color: rgb(245, 164, 37); 
}
.inActive{
    color: #4A9FC2;
}