$fs-regular: 16px;

$ff-regular: 'Work Sans', sans-serif;
$ff-button: 'Oswald', sans-serif;

$fw-regular: 500;
$fw-bold: 700;

$light-grey: #e3e3e3;
$medium-grey: #b3b3b3;
$dark-grey: #696969;
$white: #fafafa;
$black: #212121;