@import '../../styles/variables.scss';

.academic_updates {
    table {
        border-radius: $border-radius-small;
        overflow: hidden;
        box-shadow: 0px 0px 0px 1px $ctis-blue-300;
        width: 100%;
    
        th {
            background-color: $ctis-blue-200;
            color: $ctis-blue-500;
            @include secondary-text()
        }
    
        th, td { padding: $padding-medium $padding-large; }
    
        tbody tr {
            &:nth-of-type(odd) {
                background-color: $true-white;
            }
            &:nth-of-type(even) {
                background-color: $ctis-blue-50;
            }
            &:not(:last-of-type) {
                border-bottom: 1px solid $ctis-blue-200;
            }
        }
    
        td a {
            text-decoration: underline;
            color: inherit;
            font-weight: $fw-medium;
    
            @include attention() {
                color: $ctis-blue-400;
            }
        }
    }
}

.academic_updates_table {

    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    thead {
        background-color: $dark-grey;
        color: $white;
    }

    tbody {
        background-color: lighten($color: $white, $amount: 20);
    }

    th { padding: 0.8em 1.5em; }
    td { padding: 0.4em 1.5em; }

    tr {
        &.invisible {
            color: $medium-grey;
        }
        
        &.current {
            background-color: rgba(196, 255, 196, 0.86);
        }
    }
}

.user_avatar_36 {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}