@import '../../styles/variables.scss';

.navbar {
    background-color: $ctis-yellow-400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    height: $navbar-height;
    z-index: 1;
    padding: 0 $padding-xxlarge;
    
    &_logo {
        font-size: $fs-large;
        font-weight: $fw-black;
        font-family: $ff-ctis;
    }
}