@import '../../styles/variables.scss';

.navbar {
    background-color: $ctis-yellow-400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    height: $navbar-height;
    z-index: 2;
    padding: 0 $padding-xxlarge;
    
    &_logo {
        font-size: $fs-large;
        font-weight: $fw-black;
        font-family: $ff-ctis;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon_button {
        font-size: $fs-big;
        margin-right: 1em;
        background: none;
        border: none;
        display: none;

        @include attention() {
            color: $ctis-yellow-100;
        }

        @include media-query(medium) {
            display: block;
        }
    }
}