@import '../../styles/variables.scss';

.navbar {
    background-color: $ctis-yellow-400;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    position: fixed;
    height: $navbar-height;
    z-index: 2;
    padding: 0 $padding-xxlarge;

    gap: 20px;

    &_logo {
        font-size: $fs-large;
        font-weight: $fw-black;
        font-family: $ff-ctis;
    }

    img {
        // height: 80%;
        width: 200px;

        @include media-query(small) {
            // visibility: hidden;
            display: none;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon_button {
        font-size: $fs-big;
        margin-right: 1em;
        background: none;
        border: none;
        display: none;

        @include attention() {
            color: $ctis-yellow-100;
        }

        @include media-query(medium) {
            display: block;
        }
    }
}

.searchBar {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    height: 36px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    width: 700px;

    input {
        width: 100%;
        border: none;
    }

    svg {
        cursor: pointer;
    }

    @include media-query(medium) {
        width: 400px
    }

    @include media-query(small) {
        width: 400px
    }
}