$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-big: 15px;
$border-radius-circle: 50%;
$border-radius-pill: 9999px;

$padding-small: 4px;
$padding-medium: 8px;
$padding-big: 10px;
$padding-large: 16px;
$padding-xlarge: 24px;
$padding-xxlarge: 32px;

$margin-small: 4px;
$margin-medium: 8px;
$margin-big: 10px;
$margin-large: 16px;
$margin-xlarge: 24px;
$margin-xxlarge: 32px;

$navbar-height: 64px;
$sidebar-minwidth: 300px;
$sidebar-maxwidth: 320px;