@import '../../../styles/variables.scss';

.erasmus_students {
    width: 100%;

    &_item {
        width: 100%;
    
        .student_link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.8em 1.2em;
            transition: background-color 0.3s linear;
            min-height: 4em;
    
            &:hover {
                background-color: darken($color: $white, $amount: 2);
                transition: background-color 0.3s linear;
                color: inherit;
            }
        }
    
        &_info {
            span { display: block; }
            display: flex;
            align-items: center;
            div {margin-right: 1em;}
        }
    
        &_name {
            font-size: 1.1em;
        }
    
        &_university {
            font-size: 1em;
            color: $dark-grey;
        }

        &_semester, &_time_period {
            font-size: 0.8em;
            color: $medium-grey;
        }
    
        &_badge span {
            font-size: 0.8em;
            color: $white;
            background-color: $medium-grey;
            padding: 0.4em 0.6em;
            border-radius: 500px;
        }
    }
}