.inputLabel{
    position: absolute;
    top: -7px;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    text-transform: capitalize;
    color: #888;
    font-size: 13px;
    line-height: 13px;
    width: fit-content;
    letter-spacing: 1px;
    z-index: 1;
}
.selectContainer{
    position: relative;
    width: 45%;
}
.inputsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.selectInput{
    flex-grow: 2;
}
.submitButton{
    width: 10%;
    padding: 5px;
    height: 38px;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;

    background: #FFF9E8;
    opacity: 0.8;

    border: 1px solid #FF8412;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FF8412;
}
.submitButton:hover:not(:disabled){
    padding: 3px;
    border: 2px solid rgb(245, 164, 37);
}
.submitButton:disabled{
    background-color: #fbfbfb;
}

.clauseHolder{
    background: rgb(230, 230, 230);
    margin-bottom: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.clause{
    padding: 2px;
}
.removeButton{
    width: 17px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
.removeButton:hover{
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0.5;
    color: red;
}

.removeable{ cursor: pointer;
    border-radius: 3px;
    padding: 2px
}
.removeable:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    text-decoration: line-through;
}