@import '../../styles/variables.scss';


.modal_bg {
    display: none;

    &.visible {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
    }
}


.sidebar {    
    position:sticky;
    top: $navbar-height;
    height: 100%;
    width: 20vw;
    min-width: $sidebar-minwidth;
    max-width: $sidebar-maxwidth;
    max-height: calc(100% - $navbar-height);
    z-index: 2;
    background-color: $true-white;
    box-shadow: 0px 2px 8px 0px $ctis-grey-100;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: $padding-large $padding-xlarge;

    &_closeBtn{
        display: none;
    }

    @include media-query(medium) {
        position: fixed;
        top: 0;
        left: -100vw;
        height: 100vh;
        max-height: none;
        box-shadow: none;
        transition: all 0.5s ease-in;
        
        &_closeBtn{
            display: block;
            font-size: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s;

            &:hover{
                background-color: rgba(200, 200, 200, 0.4);
            }
        }

        &.visible {
            transition: all 0.5s ease-in-out;
            left: 0;
        }
    }

    &_user_avatar {
        margin: auto;
    }

    &_user_wrapper {
        display: flex;
        flex-direction: column;
        gap: $margin-medium;
        margin-top: $margin-medium;
    }

    &_user_info {
        span {display: block;}

        .user_role {
            @include secondary-text();
            font-weight: $fw-regular;
        }
        .user_name_surname {
            @include primary-text();
            font-weight: $fw-medium;
        }
        margin: auto;
        margin-bottom: 2em;
        text-align: center;
    }

    &_buttons {
        width: 100%;
    }

    &_button_group {

        &_personal {
            margin-bottom: $margin-xlarge;
            svg {color: $ctis-yellow-500}

            a {
                @include attention() {
                    color: $ctis-yellow-500;
                }
            }
        }
        &_career {
            margin-bottom: $margin-xlarge;
            svg {color: $ctis-red-300}

            a {
                @include attention() {
                    color: $ctis-red-300;
                }
            }
        }
        &_education {
            margin-bottom: $margin-xlarge;
            svg {color: $ctis-blue-400}

            a {
                @include attention() {
                    color: $ctis-blue-400;
                }
            }
        }
        &_title {
            display: block;
            color: $ctis-grey-400;
            font-size: $fs-small;
            margin-bottom: $margin-medium;
        }
    }

    &_button {
        display: flex;
        margin-bottom: $margin-small;

        @include secondary-text();

        svg {
            width: 1.2em;
            height: 1.2em;
            margin-right: $margin-large;
        }
    }
}

.user_avatar_48 {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
