@import '../../../styles/variables.scss';

.erasmus_universities {
    width: 100%;

    &_item {
        width: 100%;

        .university_link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.8em 1.2em;
            transition: background-color 0.3s linear;
            min-height: 4em;

            &:hover {
                background-color: darken($color: $white, $amount: 2);
                transition: background-color 0.3s linear;
                color: inherit;
            }
        }

        &_info {
            span {
                display: block;
            }

            display: flex;
            align-items: center;

            svg {
                width: 1.1em;
                height: 1.1em;
                color: $dark-grey;
            }

            div:first-of-type {
                background-color: $light-grey;
                margin-right: 1em;
                width: 2em;
                height: 2em;
                display: grid;
                place-content: center;
                border-radius: 50%;
            }
        }

        &_name {
            font-size: 1.1em;
        }

        &_location {
            font-size: 0.9em;
            color: $medium-grey;
        }

        &_badge span {
            font-size: 0.8em;
            color: $white;
            background-color: rgb(74, 159, 194);
            padding: 0.4em 0.6em;
            border-radius: 500px;
        }
    }
}