.clearBtn{
    font-size: larger;
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 5px
}

.popoverBody{
    padding: 10px
}
.popoverDeleteBtn{
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin: 0 10px 10px 10px;
    float: right;
    color: #CE171A;
    background-color: #FFE9E2;
}

.clickable{
    cursor: pointer;
}
.clickable:hover td{
    background-color: rgba(38, 45, 49,0.25);
}

.tableHeader{
    height: 34px;
    background: #262d31;
    
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.editBtn{
    cursor: pointer;
    float: right;
    margin-top: 4px;
    display: inline;
    background: #e5f3c5;
    border: 1px solid #46640a;
    color: #46640a;

    padding-bottom: 3px;

    width: 25px;
    height: 25px;
    opacity: 0.8;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.deleteBtn{
    cursor: pointer;
    float: right;
    margin-top: 4px;
    display: inline;
    background: #e3c3c3;
    border: 1px solid #da4109;
    color: #da4109;

    padding-bottom: 3px;

    width: 25px;
    height: 25px;
    opacity: 0.8;
    border-radius: 5px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.sortContainer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.table{
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}
.tableCell{
    border-bottom: 1px solid #F5F5F5;
    padding: 5px 10px;
}
.tableRow:nth-child(even){
    background-color: rgba(203, 194, 177, 0.36);
}
.tableRow:nth-child(odd){
    background-color: rgba(225, 204, 192, 0);
}

.searchField{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: '5px';
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(52, 46, 35);
    overflow: hidden;
}
.searchField input{
    flex-grow: 1;
    border: none;
    height: 25px;
    padding-left: 15px;
}
.searchBtn{
    width: 50px;
    background-color: white;
    border: none;
    height: 100%;
    border-radius: 12.5px;
    transition: all 0.2s;
}
.searchBtn:hover{
    background-color: #F1F1F1;
}

.tableContainer{
    margin-top: 10px;
    position: relative;
}

.spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionBtn{
    border-radius: 50%;
    padding: 2px;
    transition: all 0.2s;
}

.actionBtn:hover{
    background-color: #a5a5a5;   
    color: white;
}