.inputContainer{
    position: relative;
    margin-bottom: 10px;
    margin-top: 5px;
    /* padding: 15px 0px; */
}
.inputLabel{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    text-transform: capitalize;
    color: #888;
    font-size: 13px;
    width: fit-content;
    letter-spacing: 1px;
    z-index: 1;
    /* opacity: 50%; */
}
.inputField:disabled{
    background-color: #f3f3f3;
    cursor: not-allowed;
}
.inputField{
    padding: 10px 5px 5px 5px;
    width: 100%;
    border: 1px solid #f5a425;
    border-radius: 4px;
    resize: none;
    color: #666;
}
.dateInputField{
    padding: 5px 5px 2px 5px;
    width: 100%;
    border: 1px solid #f5a425;
    border-radius: 4px;
    resize: none;
    color: #666;
}

.visibilityCheckboxContainer{
    padding-bottom: 15px;
    width: 35px;
    padding-left: 10px;
}
.visibilityCheckbox{
    transition: all 0.3s;
}
.visibilityCheckbox:hover{
    transform:scale(1.3);
}
.visibilityUnchecked{
    color: rgb(245, 164, 37);
}

.isCurrentCheckbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s;
}
.isCurrentCheckbox:hover{
    transform-origin: left;
    transform: scale(1.05);
}
.isCurrentTrue{
    color: rgb(245, 164, 37);
}

.removeBtnContainer{
    margin-right: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
}
.removeBtn{
    border-radius: 50%;
    border: none;
    transition: all 0.3s;
    height: 15px;
    width: 15px;
    border: 1px solid black;
    line-height: 10px;
}
.removeBtn:hover{
    border: 1px solid rgb(245, 164, 37);
    /* background-color: black; */
    transform:scale(1.3);
}
.removeIcon{
    transition: all 0.3s;
}
.removeIcon:hover{
   color: rgb(245, 164, 37); 
}  

.formPartitionHeading{
    border-top: 1px solid #aaa;
    padding:5px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}
.formPartitionHeading > span {
    color: #666;
    font-size: 18px;
}
.addButton{
    border: none;
    background-color: white;
    transition: all 0.3s;
}
.addButton:hover{
    transform: scale(1.2);
    color: #f5a425;
}

.bigAddBtn{
    border: none;
    background-color: #f5a425;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: all 0.3s;
    font-size: 14px;
}
.bigAddBtn:hover{
    transform: scale(1.1);
    transform-origin: 0;
}

.submitBtn{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #f5a425;
    text-transform: uppercase;
    transition: all 0.3s;
}
.submitBtn:hover{
    transform: scaleX(1.02);
}

.spacer{
    height: 20px;
}
.spacer > td{
    border: 1px solid #ccc;
    height: 0;
    display: block;
    margin-top: 5px;
}