@use '/styles/sass/abstracts/' as *;

body {
    letter-spacing: 0.01em;
    
    font-family: $ff-primary;
    font-size: $fs-regular;
    font-weight: $fw-regular;

    color: $clr-text;
    background-color: $clr-bg;
}

main {
    width: 100%;
}

.debug {
    &-red {
        border: 1px solid red;
        background-color: rgba(255, 0, 0, 0.05);
    }

    &-blue {
        border: 1px solid blue;
        background-color: rgba(0, 0, 255, 0.05);
    }
}