@import '../../../styles/variables.scss';

.sidebar {
    max-width: 320px;
    min-width: 310px;
    height: 100%;
    padding: 10px;
    padding-top: 50px;
    color: $dark-grey;
    background-color: #fff;
    text-align: center;
    -webkit-box-shadow: 9px 0px 10px 1px rgba(229,229,229,1);
    -moz-box-shadow: 9px 0px 10px 1px rgba(229,229,229,1);
    box-shadow: 9px 0px 10px 1px rgba(229,229,229,1);

    &Img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin: 0px auto 20px auto;
    }

    .userTitle{
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}
.sidebarBtn{
    display: flex;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    background-color: $light-grey;
    transition: background-color 0.3s linear;
    margin-top: 15px;

    svg{
        width: 1.2em;
        height: 1.2em;
        margin-right: 1em;
    }
}
.sidebarBtn:hover{
    transition: background-color 0.3s linear;
    background-color: $medium-grey;
    color: $white;           
}