@import '../../styles/variables.scss';

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 3.5em;

    &_welcome {
       text-align: center;
       margin-bottom: 3em;
    }

    &_search {
        display: flex;
        margin-bottom: 3em;
    }

    &_search_button {
        margin-left: 1em;
        padding: 0.6em 2em;
        font-weight: $fw-bold;
        color: $white;
        background-color: $medium-grey;
        transition: background-color 0.3s linear;
        border: none;
        outline: none;

        &:hover {
            background-color: $dark-grey;
            transition: background-color 0.3s linear;
        }
    }
}

.welcome {
    &_logo {
        font-size: 5em;

        // TODO: fix stroke
        /* $stroke-colour: $ctis-yellow-500;
        $stroke-width: 3px;
        
        text-shadow:
            $stroke-width $stroke-width 0 $stroke-colour,
            $stroke-width -$stroke-width 0 $stroke-colour,
            -$stroke-width $stroke-width 0 $stroke-colour,
            -$stroke-width -$stroke-width 0 $stroke-colour,
            $stroke-width 0px 0 $stroke-colour,
            0px $stroke-width 0 $stroke-colour,
            -$stroke-width 0px 0 $stroke-colour,
            0px -$stroke-width 0 $stroke-colour; */
    }

    &_name_surname {
        font-weight: $fw-bold;

        &::after {content: '.'; font-weight: $fw-regular;}
    }
}